<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CollegeRegister</servlet-name>
        <servlet-class>controller.CollegeRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRegister</servlet-name>
        <servlet-class>controller.CompanyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutCompany</servlet-name>
        <servlet-class>controller.logoutCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutCollege</servlet-name>
        <servlet-class>controller.logoutCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>controller.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>controller.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>controller.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyDelete</servlet-name>
        <servlet-class>Admin.companyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>collegeDelete</servlet-name>
        <servlet-class>Admin.collegeDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCollege</servlet-name>
        <servlet-class>controller.LoginCollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCompany</servlet-name>
        <servlet-class>controller.LoginCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>controller.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyProfileUpdate</servlet-name>
        <servlet-class>controller.CompanyProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSearch</servlet-name>
        <servlet-class>controller.StudentSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>Admin.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeRequestUpdate</servlet-name>
        <servlet-class>Admin.CollegeRequestUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRequestUpdate</servlet-name>
        <servlet-class>Admin.CompanyRequestUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeProfileUpdate</servlet-name>
        <servlet-class>controller.CollegeProfileUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollegeRegister</servlet-name>
        <url-pattern>/CollegeRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRegister</servlet-name>
        <url-pattern>/CompanyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutCompany</servlet-name>
        <url-pattern>/logoutCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutCollege</servlet-name>
        <url-pattern>/logoutCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyDelete</servlet-name>
        <url-pattern>/companyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>collegeDelete</servlet-name>
        <url-pattern>/collegeDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCollege</servlet-name>
        <url-pattern>/LoginCollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCompany</servlet-name>
        <url-pattern>/LoginCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyProfileUpdate</servlet-name>
        <url-pattern>/CompanyProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSearch</servlet-name>
        <url-pattern>/StudentSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeRequestUpdate</servlet-name>
        <url-pattern>/CollegeRequestUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRequestUpdate</servlet-name>
        <url-pattern>/CompanyRequestUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeProfileUpdate</servlet-name>
        <url-pattern>/CollegeProfileUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
